[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = https://github.com/slaclab/ruckus.git
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = https://github.com/slaclab/surf.git
[submodule "./"]
	branch = jj-dev
[submodule "firmware/submodules/snl"]
	path = firmware/submodules/snl
	url = git@github.com:slaclab/snl
